@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ASP.NET MVC 使用zyUpload插件进行多图示例</title>
    <!-- 引用控制层插件样式 -->
    <link href="~/Content/control/css/zyUpload.css" rel="stylesheet" />
    
    <style>
        .upload_choose {
            display: none;
        }
    </style>
    <script src="~/Content/jquery-1.7.2.js"></script>
    <!-- 引用核心层插件 -->
    <script src="~/Content/core/zyFile.js"></script>
    <!-- 引用控制层插件 -->
    <script src="~/Content/control/js/zyUpload.js"></script>
    <!-- 引用初始化JS -->
    <script src="~/Content/demo.js"></script>
</head>

<body>
    <h1 style="text-align:center;">ASP.NET MVC 使用zyUpload插件进行多图示例</h1>
    <div id="demo" class="demo"></div>
</body>
</html>
